<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108081564-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108081564-1');
  </script>
  {% seo %}
</head>

<body>
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        {% include header.html %}
        <section id="banner">
          <div class="content">
            <header class="main">
              <h1>{{ page.headline }}</h1>
              <p>{{ page.sub_headline }}</p>
            </header>
        </section>
        <span class="image main"><img src="{{ page.image }}"></span>
        {% for talk in site.speaking %}
        <div class="row">
          <div class="col-4 col-12-medium">
            <span class="image fit">
              <div class="zoombox">
                <img src="{{ talk.image }}" class="zoomimg">
              </div>
            </span>
          </div>
          <div class="col-8 col-12-medium">
            <h3 class="learn-header">{{ talk.event_name }} •
              {% assign day = talk.date | date: "%-d"  %}
              {% case day %}
              {% when '1' or '21' or '31' %}{{ day }}st
              {% when '2' or '22' %}{{ day }}nd
              {% when '3' or '23' %}{{ day }}rd
              {% else %}{{ day }}th
              {% endcase %}
              {{ talk.date | date: " %B %Y" }}
            </h3>
            <h3>{{ talk.event_location }}</h3>
            <h4>{{ talk.talk_title }} • {{ talk.talk_format }}</h4>

            {% if talk.audio_link %}
            <a href="{{ talk.audio_link }}" class="button icon solid large fa-headphones" target=_blank>Listen</a>
            {% endif %}

            {% if talk.video_link %}
            <a href="{{ talk.video_link }}" class="button icon solid large fa-tv" target=_blank>Watch</a>
            {% endif %}

            {{ talk.content }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% include navigation.html %}
  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>